<h4>Count: {{this.counter.count}}</h4>

<button type="button" {{on 'click' this.increase}}>+</button>
<button type="button" {{on 'click' this.decrease}}>-</button>
<button type="button" {{on 'click' this.backToHome}}>Back To Home</button>